 <head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> |
    <% end %>
    reactive_rails
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
